* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

article h1 {
  color: black;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.card-body {
  padding: 1.7rem;
  background-color: #c7cbd0;
  border-radius: 0.4rem;
  width: 720px;
  margin-top: 3rem;
}

.card-top-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.card-top-section p {
  color: #839ab1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.jobTitle-company {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-body h2 {
  background-color: rgb(52, 108, 211);
  padding: 1rem 1.5rem;
  color: white;
  font-size: 2rem;
  border-radius: 0.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.jobTitle-company h3 {
  color: #102a43;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bottom-card-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  gap: 1rem;
  border-top: 1px solid #839ab1;
  padding-top: 2rem;
}

article > p {
  color: #102a43;
  font-size: 1.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

article > p .fa-bag-shopping,
.fa-location-crosshairs,
.fa-calendar-days {
  color: #839ab1;
}

h4 {
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: #657acb;
  background-color: #e1e8f9;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 100px;
  text-align: center;
}

.btns {
  display: flex;
  gap: 1rem;
}

.btn-edit {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: #2f674c;
  background-color: #d1e7dd;
}

.btn-delete {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: #842129;
  background-color: #f8d7db;
}

/* media querry */

@media screen and (max-width: 500px) {
  .container_div {
    min-width: 800px;
    overflow-x: hidden;
  }

  article h1 {
    font-size: 1rem;
    margin-left: -38rem;
    margin-bottom: -2rem;
    margin-top: 2rem;
    overflow-x: hidden;
  }

  .bottom-card-section {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
}
